.container {
    padding: 30px;
}

.video-container {
    position: relative;
    padding-top: 30px;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 10rem;
}

.upload-area {
    border: 2px dashed #ccc;
    padding: 50px;
    position: relative;
    cursor: pointer;
}

.drag-text {
    text-align: center;
    margin-bottom: 20px;
}

.file-field {
    margin-top: 20px;
}

.upload-icon {
    text-align: center;
    font-size: 50px;
    transition: all .3s ease-in-out;
}

.upload-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.upload-area-active {
    border: 2px dashed #0bbd87;
}

#progress-bar-file-upload {
    font-size: 15px;
}

.text-center {
    color: white;
}

#comments {
    margin: 20px;
}